h3{
	
	text-decoration: underline;
}

#selectBoxDiv{
	
	width: 60%;
}

.ui-page .ui-content .ui-listview .ui-li-desc{
    white-space : normal;
}​

#home #requestedInfo{
	
	font-family: sans-serif;
	font-size: 12px;
}
